body {
  background-color: #f8f9fa;
}

.form-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h2 {
  color: #b30000;
}

.btn-danger {
  background-color: #b30000;
  border-color: #b30000;
}

.btn-danger:hover {
  background-color: #990000;
  border-color: #990000;
}

.btn-outline-secondary {
  color: #666;
  border-color: #ccc;
}

.btn-outline-secondary:hover {
  background-color: #f1f1f1;
  border-color: #aaa;
}
